// colors
$colors: (
  "primary": #db9e3f,

  "info": #4b67af,

  "white": #fff,

  "light": #f9f9f9,

  "light-d4d9de": #d4d9de,

  "grey-666": #666,

  "grey-999": #999,

  "black-343440": #343440,

  "black-222": #222,

  "black": #000,
);

// border
$border-color: map-get($colors, 'light-d4d9de');

// font-size
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.615 /* 8/13 */,
  xs: 0.769  /* 10/13 */,
  sm: 0.923  /* 12/13 */,
  md: 1      /* 13/13 */,
  lg: 1.077  /* 14/13 */,
  xl: 1.231  /* 16/13 */,
);

// justify-contnet
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);

// align-items
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

// spacing
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$base-spacing-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: .25,
  2: .5,
  3: 1,
  4: 1.5,
  5: 3,
);
